.expense-item {
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    margin-bottom: 8px; 
    position: relative;
}

.expense-description {
    font-size: 16px; 
}

.expenses-grid {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.expense-delete {
    position: absolute;
    top: -5px;
    right: -5px;
}

.expense-delete,
.delete-all-expenses,
.edit-expense,
.save-edit-button {
    cursor: pointer;
}

.expense-delete:hover {
    transform: scale(1.2);
}
.delete-all-expenses {
    display: block;
    margin: auto;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
}

.manage-expenses input {
    padding: 10px;
}

.expense-date {
    font-size: small;
    color: rgba(86, 81, 81, 0.589);
    position: absolute;
    bottom: 0;
    left: 0;
}

.edit-expense {
    position: absolute;
    top: 0;
    left: 0;
}


.save-edit-button {
    display: block;
    padding: 10px 15px;
    background-color: forestgreen;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin: auto;
    margin-top: 10px;
    display: none;
}
